* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 15px 15px;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.buttons {
  background-color: green;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  gap: 2rem;
}


